# Database connection string
DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name

# Payload secret
PAYLOAD_SECRET=YOUR_PAYLOAD_SECRET

# Vercel Blob Storage token
BLOB_READ_WRITE_TOKEN=YOUR_BLOB_TOKEN

# Server URL (no trailing slash)
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET

# Secret used for preview
PREVIEW_SECRET=YOUR_PREVIEW_SECRET
